body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.div_all_header {
  display: flex;
}
.div_header1 {
  width: 270px;
  display: flex;
  height: 100px;
  padding: 20px 0px 0px 10px;
}
.div_header2 {
  margin: 50px 0px 0px 70px;
}
.div_header3 {
  margin: 45px 0px 0px 70px;
}
.div_footer {
  display: flex;
  height: 520px;
}
.div_footer > div {
  margin: 30px 10px 20px 10px;
  border: 1px solid gray;
  width: 100%;
  border-radius: 10px;
  background: rgb(241, 241, 241);
}
.div_footer > div > div {
  text-align: center;
  border-bottom: 1px dotted gray;
  width: 80%;
  margin-left: 10%;
}
.div_header3 > input {
  font-size: 20px;
}
.div_header2 > a {
  padding-left: 70px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.div_header2 > a:hover {
  color: orange;
  font-size: 25px;
}
.logo_phone_img {
  width: 70px;
  height: 80px;
}
.logo_phone_parts_img {
  width: 100%;
}
.div_logo1 {
  font-weight: bold;
  font-size: 40px;
  padding-top: 10px;
}
.div_logo1 > span {
  color: rgb(66, 66, 195);
}
.div_logo2 {
  font-size: 13px;
  color: gray;
  padding-top: 10px;
  padding-left: 2px;
}
.sell_phone_parts_img {
  width: 300px;
  padding-top: 10px;
}
.sell_phone {
  margin: 20px 0px 0px 10px;
}
.span1 {
  font-size: 25px;
  font-weight: bold;
}
.span2 {
  color: gray;
  margin-top: 20px;
}
.sell_phone > div {
  margin-top: 30px;
}
.sell_phone > div > a {
  text-decoration: none;
  color: rgb(255, 60, 0);
  font-size: 25px;
  font-weight: bold;
  padding-right: 30px;
}
.sell_phone > div > a:hover {
  color: green;
}
.sell_phone > div > a:active {
  color: navy;
}
.sell_phone > section {
  padding-top: 10px;
}
s {
  color: gray;
}
